.containerNav {
  padding: 0;
  position: relative;
  height: 15vh;
}

.maNav {
  height: 15vh;
  background-color: rgb(145, 145, 145);
  color: white;
  text-align: center;
  z-index: 100;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.logo {
  height: 100%;
  width: 10vw;
  background: url(../img/logo.png) no-repeat;
  background-position: center;
  background-size: contain;
}

.navLien {
  background-color: rgb(145, 145, 145);
  border-radius: 5px;
  text-transform: uppercase;
}
