/* Panier */

.voirPanier {
  font-size: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  position: fixed;
  top: 16%;
  right: 1%;
  z-index: 200;
  background-color: rgb(145, 145, 145);
}

.panier {
  position: fixed;
  top: 20%;
  width: 50%;
  right: -300%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: right 300ms;
  display: flex;
  justify-content: space-between;
  z-index: 200;
}

.panierOuvert {
  right: 1%;
}
